* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #222;
}

 .clearfix {
     display: block;
     clear: both;
 }

 h1 {
     text-align: center;
     font-size: 32px;
     margin: 50px 0 40px 0;
 }
 
 body {
    margin: 0px;
 }

.site-header {
    min-height: 290px;
    background: url('../images/cabe.jpg');
    background-size: cover;
    background-position: 50% 30%;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.answer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.answer li {
    background: rgb(225, 230, 255);
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.answer li:hover {
    background: rgb(65, 110, 255);
    font-weight: bold;
    transition: 0.07s ease;
}

.answer li:active{
    background: #8b8b8b
}

.result {
    padding: 30px 0;
    font-size: 18px;
    line-height: 150%;
}

.result-img {
    width: 85vw;
    display: block;
    margin: 10px 50% 10px 7%;
}

.reload-button {
    display: block;
    margin: 20px auto;
    background: rgb(225, 230, 255);
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.reload-button:hover {
    background: rgb(65, 110, 255);
}

/* .block-cover {
    
    padding: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 1s;
}

a .block-cover {
    text-decoration: none;
}

a .block-cover:hover {
    background: rgb(0, 47, 117);
}

.block-cover img{
    max-width: 100%;
}

.block-25 {
    float: left;
    width: 33.333%;
}

.block-25 a {
    text-decoration: none;
} */

footer {
    border-top: 1px solid #333;
    margin: 50px  0;
    padding: 40px;
}

.progress{ 
    position: fixed;
    bottom: 0; left: 0;
    width: 0; height: 10px;
    background-color: rgb(65, 110, 255);
    transition: .3s;
}
