body {
  background-color: #000814;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

.leftboard {
  float: left;
}

.rightboard {
  float: right;
}

.mainbut {
  margin: 10px 0 0 10px;
  width: 100px;
  height: 100px;
}

.voltage {
  margin: 0px 0 0 10px;
}

.voltage svg {
  margin: 0px 0 0 0;
  width: 230px;
  height: 230px;
  -webkit-transform: rotate(-87deg);
          transform: rotate(-87deg);
}

.voltage svg .trans {
  fill: transparent;
  stroke: rgba(50, 40, 75, 0.3);
  stroke-width: 12;
}

.voltage svg .azul {
  fill: transparent;
  stroke: #0064ff;
  stroke-width: 12;
}

.voltage .voltrange {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 240px;
  height: 5px;
  outline: none;
  border-radius: 5px;
  background-color: rgba(0, 6, 120, 0.5);
  -webkit-transform: rotate(-90deg) translate(-140px, 150px);
          transform: rotate(-90deg) translate(-140px, 150px);
}

.voltage .voltval {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-transform: translate(96px, 77px);
          transform: translate(96px, 77px);
}

.voltage .invol {
  margin: 0 0 0 30px;
  font-size: 23px;
}

.cooler img {
  width: 300px;
  height: 300px;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cooler .fanspeed {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 277px;
  height: 5px;
  outline: none;
  border-radius: 5px;
  background-color: rgba(0, 6, 120, 0.5);
  -webkit-transform: rotate(-90deg) translate(140px, -100px);
          transform: rotate(-90deg) translate(140px, -100px);
}

.cooler .fanspeed::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 6, 120, 0.888);
  border-radius: 50%;
  border: 6px solid rgba(185, 185, 185, 0.3);
}

.cooler p {
  margin: 0 0 0 30px;
  font-size: 23px;
}

.rightvals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.rightvals > div {
  padding: 0 25px 0 25px;
}

.rightvals .centval {
  font-size: 20px;
  -webkit-transform: translate(83px, 150px);
          transform: translate(83px, 150px);
}

.rightvals .out {
  font-size: 20px;
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}

.freq svg {
  margin: 0 0 0 0;
  width: 230px;
  height: 230px;
}

.freq svg .trans {
  fill: transparent;
  stroke: rgba(50, 40, 75, 0.3);
  stroke-width: 12;
}

.freq svg .azul {
  fill: transparent;
  stroke: rgba(72, 0, 255, 0.3);
  stroke-width: 12;
}

.outvolt svg {
  margin: 0 0 0 0;
  width: 230px;
  height: 230px;
}

.outvolt svg .trans {
  fill: transparent;
  stroke: rgba(50, 40, 75, 0.3);
  stroke-width: 12;
}

.outvolt svg .azul {
  fill: transparent;
  stroke: rgba(72, 0, 255, 0.3);
  stroke-width: 12;
}

.aniwave img {
  width: 600px;
  height: 100px;
}

.sensors {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.sensors svg {
  width: 140px;
  height: 140px;
  -webkit-transform: rotate(-88deg);
          transform: rotate(-88deg);
}

.sensors svg .orange {
  stroke: orangered;
  stroke-width: 7;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  fill: transparent;
}

.sensors svg .trans {
  stroke: rgba(24, 0, 133, 0.33);
  stroke-width: 7;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  fill: transparent;
}

.sensors div.cel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(47px, -105px);
          transform: translate(47px, -105px);
}

.sensors div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translate(-10px, 78px);
          transform: translate(-10px, 78px);
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */